.row
  .col-12
    .card.my-5
      .card-header
        %h2 New form
      .card-body
        = render partial: 'form', locals: { button_name: 'Save'}
      .card-footer.d-flex.justify-content-end.align-items-center
        = link_to 'Back', custom_forms_path, class: 'btn btn-secondary'
