<!DOCTYPE html>
<html>
<head>
  <title>Dynamic forms</title>
  <%= stylesheet_link_tag    "dynamic_forms/application", media: "all" %>
  <%= javascript_include_tag "dynamic_forms/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div

</body>
</html>
